<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="CustomBinding_MNBArfolyamServiceSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding" bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap" contract="CurrencyService.MNBArfolyamServiceSoap" name="CustomBinding_MNBArfolyamServiceSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>